<aspsms>
 
 <ident>aspsms-t</ident>
 <facility>local4</facility>

 <jabber>
  <!-- Service id of your aspsms-t transport 				-->
  <serviceid>aspsms.domain.tld</serviceid>
 </jabber>

 <notification>
  <hostname>domain.tld</hostname>
  <port>5224</port>
  <!-- username without domainname 					-->
  <username></username>
  <password></password>
 </notification>

</aspsms>
