Source: aspsms-t
Section: net
Priority: extra
Maintainer: Marco Balmer <marco@balmer.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://github.com/micressor/aspsms-t
Vcs-Git: https://github.com/micressor/aspsms-t.git
Vcs-Browser: http://github.com/micressor/aspsms-t

Package: aspsms-t
Architecture: all
Depends: ${misc:Depends},libnet-jabber-perl,libnet-xmpp-perl,libobject-multitype-perl,libauthen-sasl-perl,libdigest-sha1-perl,libxml-smart-perl,libxml-parser-perl,libwww-perl,liburi-perl,libunicode-string-perl,wget,libfile-pid-perl
Description: aspsms-t is an open source /*GPL*/ jabber2sms transport written in perl
 Which allows you to send sms messages over the jabber network through the
 gateway-system of aspsms.com.
 .
 A lot of networks are supported. Normal TextSMS messages usually costs 1 
 aspsms Credit. 
 .
 aspsms-t deliver very fast and will send you a jabber status message. A 
 second message will receive,If your sms was successfully delivered to the 
 mobile device. 
