Source: aspsms-t
Section: net
Priority: extra
Maintainer: Marco Balmer <marco@balmer.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://github.com/micressor/aspsms-t
Vcs-Git: https://github.com/micressor/aspsms-t.git
Vcs-Browser: http://github.com/micressor/aspsms-t

Package: aspsms-t
Architecture: all
Depends: ${misc:Depends},${perl:Depends},libaspsms-perl,libnet-jabber-perl,libnet-xmpp-perl,libxml-smart-perl,libxml-parser-perl,libwww-perl,liburi-perl,libunicode-string-perl,libfile-pid-perl
Description: sms transport for your xmpp/jabber server
 With aspsms-t your jabber users are able to send sms messages
 through the gateway-system of aspsms.com.
 .
 A lot of networks are supported.
 .
 Deliver is very fast and will send your users a confirmation jabber message.
 Jabber users can set their own mobile number as originator. 
 .
 Jabber messages which are longer than the maximum allowed characters of an
 sms, aspsms-t will split it into a multiple sms. Don´t worry!
 .
 Special arabic and other oriental characters are supported to a maximum
 of 87 characters for each message.

Package: libaspsms-perl
Section: perl
Architecture: all
Depends: ${misc:Depends},${perl:Depends},libxml-smart-perl,libxml-parser-perl,libwww-perl,liburi-perl,libunicode-string-perl,wget,libfile-pid-perl
Description: Perl module providing an easy sms interface
 This library provides an easy perl interface to the aspsms xml protocol.
 .
 Sample scripts shows you how to send normal text, wap push, mms and
 binary sms messages.
