Source: aspsms-t
Section: net
Priority: extra
Maintainer: Marco Balmer <marco@balmer.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://github.com/micressor/aspsms-t
Vcs-Git: https://github.com/micressor/aspsms-t.git
Vcs-Browser: http://github.com/micressor/aspsms-t

Package: aspsms-t
Architecture: all
Depends: ${misc:Depends},${perl:Depends},libnet-jabber-perl,libnet-xmpp-perl,libxml-smart-perl,libxml-parser-perl,libwww-perl,liburi-perl,libunicode-string-perl,libfile-pid-perl
Description: xmpp/jabber to sms transport for aspsms
 Which allows you to send sms messages over the jabber network through the
 gateway-system of aspsms.com.
 .
 A lot of networks are supported. Normal TextSMS messages usually costs 1 
 aspsms Credit. 
 .
 aspsms-t deliver very fast and will send you a jabber status message. A 
 second message will receive,If your sms was successfully delivered to the 
 mobile device. 
 .
 It supports simple text SMS with a maximum of 160 characters. If your message
 is >160 characters, aspsms-t will split it automatically in more than one 
 part.
 .
 Support for Arabic and other oriental characters up to 87 characters each 
 sms.
 .
 Delivery notification for each sms with a unique transaction number
 It can set alphanumeric originator of every sms. This can be a mobile phone 
 or a short text with a maximum of 11 characters.

Package: libaspsms-perl
Section: perl
Architecture: all
Depends: ${misc:Depends},${perl:Depends},libxml-smart-perl,libxml-parser-perl,libwww-perl,liburi-perl,libunicode-string-perl,wget,libfile-pid-perl
Description: Perl modules for accessing the ASPSMS xml protocol, to send sms/mms
 Detailed description...
