#!/usr/bin/make -f
# This debian/rules file is provided as a template for normal perl
# packages. It was created by Marc Brockschmidt <marc@dch-faq.de> for
# the Debian Perl Group (http://pkg-perl.alioth.debian.org/) but may
# be used freely wherever it is useful.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# If set to a true value then MakeMaker's prompt function will
# always return the default without waiting for user input.
export PERL_MM_USE_DEFAULT=1

PERL   ?= /usr/bin/perl
TMP = $(CURDIR)/debian/libaspsms-perl

build: build-libaspsms build-aspsms-t
build-libaspsms:
	dh_testdir -p libaspsms-perl
	$(PERL) Makefile.PL INSTALLDIRS=vendor
	$(MAKE)
	$(MAKE) test
	touch $@

build-aspsms-t:
	dh_testdir -p aspsms-t

# According to lintian checks
build-arch: build
build-indep: build

clean:
	dh_testdir
	dh_testroot
	dh_clean build-libaspsms install-libaspsms
	[ ! -f Makefile ] || $(MAKE) realclean

install: install-libaspsms install-aspsms-t
install-libaspsms: build-libaspsms 
	dh_testdir -p libaspsms-perl
	dh_testroot -p libaspsms-perl
	dh_prep -p libaspsms-perl
	$(MAKE) install DESTDIR=$(TMP) PREFIX=/usr
	dh_installdocs -p libaspsms-perl
	dh_installchangelogs -p libaspsms-perl
	touch $@

install-aspsms-t:
	dh_install -p aspsms-t
	dh_installman -p aspsms-t
	dh_installdocs -p aspsms-t
	dh_installchangelogs -p aspsms-t

binary-arch:
# We have nothing to do here for an architecture-independent package

binary-indep: build install
	dh_perl
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install



